body{
  text-align: center;
  color: white; 
}

.parentContainer{
  display: flex;
  flex-direction: column;
  background-color: #151523;
  height: 700px;
  border-radius: 20px;
  padding: 40px 50px;
  margin-top: 50px;
}

.headerContainer{
  flex-grow: 0;
}

.headerContainer h3{
  font-size: 50px;
}

.priceListing{
  margin-top: 40px;
  flex-grow: 0;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.buttonContainer button{
  background-color: #FFF8E8;
  color: #151523;
  font-size: 50px;
  border-radius: 20px;
}

.helpContainer{
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.helpContainer p{
  align-self: flex-end;
}

.detailContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}
