body{
  background-color: FFF8E8;
}

.mainContainer{
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 25px auto;
  gap: 30px;
}

.itemSection{
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  color: black;
  padding: 25px;
}

.summaryContainer{
  flex-grow: 1;
}

.headerContainer{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.headerContainer h3{
  text-align: left;
  font-size: 50px;
}

.headerDescription{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  flex-grow: 1;
  font-size: 20px;
}

.itemListContainer{
  flex-grow: 10;
}

