body{
    background-color: #fdf6e3;
}

.parentContainer {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fdf6e3;
  }
  
  .cart {
    flex-grow: 2;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .headerRow {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .summaryContainer {
    flex-grow: 1;
  }
  