@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Blinky-Star';
  src: url('/fonts/BlinkyStar.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@keyframes slide{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}

.animated-slide{
  display: flex;
  width: max-content;
  animation: slide 80s linear infinite;
}
