@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Blinky Star';
  src: url('/fonts/BlinkyStar.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

